@model Compras.Datos.Entities.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esta seguro de que queres borrar este pais?</h3>
<div>
    <partial name= "_CategoryDetails"/>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" /> 
       <a asp-action="Index"class="btn btn-outline-success" >Regresar</a>
    </form>
</div>

