
@{
    Layout = "_LayoutLogin.cshtml";
    ViewData["Title"] = "LoginPrueba";
   
}



<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Iniciar Sesión</p>

            <form action="../../index3.html" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Recuerdame
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button input type="submit" value="Login" class="btn btn-primary btn-block"><i class="fa-solid fa-user"></i> Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <p>- O -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Inicia con using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Inicia con using Google+
                </a>
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="forgot-password.html">Olvidaste tu contraseña?</a>
            </p>
            <p class="mb-0">
                <a asp-action="Register" class="text-center"><i class="fa-solid fa-circle-plus"></i> Registrate</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>


                    <!---- prueba


@model Compras.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    //Layout =  "_LayoutLogin.cshtml" ;

}
<div class="row " >

    <div class="col-md-4 offset-4">
        <div class="card bg-primary mb-3" style="width: 450px; height: 450px">
            <h5 class="card-header text-center text-white"><i class="fa-solid fa-envelope text-navy"></i> Iniciar Sesión</h5>

            <div class="card-body bg-info ">

                    <h3>Iniciar Sesión</h3>
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly"  class="alert alert-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <div class="form-check">
                                <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                <label asp-for="RememberMe" class="form-check-label"></label>
                            </div>
                            <span asp-validation-for="RememberMe" class="text-warning"></span>
                        </div>
                   <div class="form-group mt-2">
                        <button input type="submit" value="Login" class="btn btn-primary btn-block"><i class="fa-solid fa-user"></i> Iniciar Sesión</button>
                        <a asp-action="Register" class="btn btn-secondary"><i class="fa-solid fa-circle-plus"></i> Registrar Nuevo Usuario</a>
                    </div>
                </form>
            </div>

                <div class="card-footer bg-secondary text-center">
                    ¿Has olvidado tu contraseña?<a asp-action="RecoverPassword"> Recuperala</a>
                </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
